Configurações iniciais no Jupyter

In [ ]:
# instalando a biblioteca PyODBC
pip install pyodbc

In [3]:
import pyodbc

# realizando a conexão com o banco de dados
dados_conexao = (
    "Driver={SQL Server};"
    "Server=Book3;"  # nome do computador ou IP do servidor. Foi descoberto pelo CMD > hostname
    "Database=PythonSQL;"  # nome do banco de dados a ser utilizado
)

conexao = pyodbc.connect(dados_conexao)
print("Conexão bem sucedida!")

Conexão bem sucedida!

Adicionando os comandos em SQL dentro do Jupyter

In [5]:
# adicionando comandos em SQL dentro do Jupyter
cursor = conexao.cursor()

#comando para executar código em SQL
comando = """insert into Vendas(id_venda, data_venda, cliente, produto, preco, quantidade) values
	(2, '10/05/2022', 'Bruno', 'Notebook', 3500, 2)"""  # entre 3 aspas para passar o código como texto

cursor.execute(comando)
cursor.commit()  # comando para efetivar uma transação no banco de dados

In [6]:
cursor = conexao.cursor()

#comando para executar código em SQL
comando = """insert into Vendas(id_venda, data_venda, cliente, produto, preco, quantidade) values
	(3, '12/05/2022', 'Daniela', 'iPad', 2500, 1)"""  # entre 3 aspas para passar o código como texto

cursor.execute(comando)
cursor.commit()  # comando para efetivar uma transação no banco de dados

Tornando o cadastro de dados automático por meio de Variáveis

In [7]:
cursor = conexao.cursor()

# declarando variáveis
id = 4
data = '17/06/2022'
cliente = 'Cintia'
produto = 'TV'
preco = 1500
quantidade = 1

#comando para executar código em SQL
comando = f"""insert into Vendas(id_venda, data_venda, cliente, produto, preco, quantidade) values
	({id}, '{data}', '{cliente}', '{produto}', {preco}, {quantidade})"""  # f antes do comando e variáveis entre chaves
    # variáveis com valor em texto precisam de aspas simples além das chaves

cursor.execute(comando)
cursor.commit()  # comando para efetivar uma transação no banco de dados